@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------CODE----*/
html, body {
	width: 100%;
	height: 100%;
}

/*---BODY---*/

body {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	
	height: 100vh;
}

/* ----MAIN---- */
main{
	height:calc(100vh - 8px);
	display: flex;

}

main > section{
	width: 50%;
	
}

/*---Links---*/

.contenList {
	display: flex;
	align-items: center;
	
}

.containerMax {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.linkContainer {
	display: flex;
	justify-content: flex-start;
	color: white;
	gap: 10px;
	margin-bottom: 20px;
}

.linkContainer h2 {
	font-size: 25px;
	
}

.linkContainer img {
	filter: invert(100%);
	width: 30px;
}
.formLink {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 16px;
}
.formLink input, .formLink button  {
	border: none;
	padding: 10px;
	border-radius: 5px;
}
.formLink button{
	color: white;
	background: #0371d8;
	cursor: pointer;
	
}
.listLink {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	overflow: scroll;
	min-height: 280px;
	padding: 10px;
	
}
.listLink li  {
	position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 5px;
	background-color: #33333393;
	color: white; 
	height: 50px;
	cursor: pointer;
} 
.listLink li  a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
} 
.listLink li  button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	top: -10px;
	right: -10px;
	background-color: #33333393;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
} 

/*---SectionAll---*/
.sectionAll{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*---Digital Clock---*/
.contenDigitalclock{
	margin-top: 20px;
	margin-bottom: 20px;
}
.clockContainer{
	text-align: center;
}
.clockContainer {
	
	height: auto;
	padding: 6px 6px;
	max-width: 300px;
	border-radius: 20px;
	background: transparent;
	background-color: #33333393;
	color: white;
}
.digitalClock h2, .digitalClock div{
	margin: 10px
}
.digitalClock .hour {
	color: #f4f4f4c9;
	font-size: 50px;
}
.digitalClock .date {
	color: #f4f4f4c9;
	font-size: 20px;
}
.message{display: none;}



/* ----Weather Station---- */
.weatherStation {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.weatherStation {
	
	padding: 20px;
	max-width: 400px;
	border-radius: 20px;
	background: #33333393;
	color: white;
}

.weather {
	color: #ffe5c1;
}

.temperature {
	display: flex;
	align-items: center;
	font-size: 48px;	
}

.temperature img {
	filter: invert(100%);

}


.tempDay{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.contentForecast {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	overflow: scroll;
}

.summary {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
}
.precipitation, .humidity, .wind{
	font-size: 12px;

}

/*---PASSWORDS---*/

.contentPassword {
	display: flex;
	flex-direction: column;
	flex-direction:flex-start;
	align-items: center;
	width: 100%;
}

.passwordCharacters {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 16px;
	gap: 10px;
	max-width: 300px;
	border-radius: 20px;
	color: white;
	margin-bottom: 10px;
}

.passwordTittle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: black;
	filter: invert(100%);
}

.passwordTittle h2 {
	font-size: 20px;
}

.contentInput p {
	font-size: 16px;
	padding: 10px;
}

.inputRange {
	cursor: pointer;
}

.createButton{
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	border: transparent;
	background-color: #0371d8;
	color: white;
	cursor: pointer;
}

/* FOOTER */

footer {
	height: 30px;
    display: flex;
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    filter: invert(100%);
	border-bottom: 1px solid black;
	padding: 0px 10px;
	width: 100%;
}   

footer  img {
    height: 30px;
	width: 30px;
	margin-bottom: 6px;
} 


@media (max-width: 856px) {

	main {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		height: auto;
	}

	.contenDigitalclock {
		margin: 30px;

	}

	.weatherStation {
		padding: 26px;
		max-width: 320px;
	
	}

	.contentPassword {
		margin: 20px;
	}

	.containerMax {
		margin-bottom: 20px;
		padding: 20px;
	}

	.passwordTittle {
		padding: 30px;
	}

	.linkContainer img {
		width: 30px;
		height: 30px;
	}
	
	.footerNav {
		opacity: 0%;
	
	}
	
	
}
