<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/digitalclock.css">
    <title>Reloj Digital</title>
</head>
<body>
    <header class="headerLogo">
        <a href="/index.html">
            <img src="../assets/img/rocketicon.png" alt="rocketicon">
            <h1>Go Home</h1>
        </a>
</header>
    <main>
        <div class="masthead">
            <!-- <img src="../assets/img/backgroud/keyboard-5017973_1280.jpg" alt="background" class="backgroud"> -->
        </div>
        <div class="clockContainer"> 
            <div class="digitalClock">
                <h2 class="title">Son las...</h2>
                <div class="hour" id="hour">20:00</div>
                <div class="date" id="date">15/07/24</div>
                <div class="message" id="message"></div>
            </div>
        </div>
    </main>
    
    <footer>
        <nav>
            <a href="../components/digitalclock.html">
                <img src="../assets/img/clock.png" alt="clock">
            </a>
            <a href="../components/securepassword.html">
                <img src="../assets/img/lockblack.png" alt="lock">
            </a>
            <a href="../components/linksinterest.html">
                <img src="../assets/img/link.png" alt="link">
            </a>
            <a href="../components/weatherstation.html">
                <img src="../assets/img/cloud.png" alt="cloud">
            </a>
        </nav>
    </footer>
    <script src="../../script2.js"></script>
    <script src="../js/digitakclock.js"></script>
    <script src="../js/securepassword.js"></script>
    <script src="../js/linksinterest.js"></script>
    <script src="../js/weatherstation.js"></script>
</body>
</html>