<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/linksinterest.css">
    <title>Enlaces de Interés</title>
</head>
<body>
    <header class="headerLogo">
            <a href="/index.html">
                <img src="../assets/img/rocketicon.png" alt="rocketicon">
                <h1>Go Home</h1>
            </a>
    </header>
    <main>
        <div class="">

        </div>
    </main>
    <script src="../js/linksinterest.js"></script>
</body>
</html>