<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/linksinterest.css">
    <title>Enlaces de Interés</title>
</head>
<body>
    <header class="headerLogo">
            <a href="/index.html">
                <img src="../assets/img/rocketicon.png" alt="rocketicon">
                <h1>GO HOME</h1>
            </a>
    </header>
    <main>
        <div class="linkContainer">
            <h2>Añade tu enlace de interés</h2>
            <img src="../assets/img/link.png" alt="imgLink">
        </div>
        <form id="formLink" class="formLink">
            <input type="text" placeholder="Nombre del enlace" class="inputName" id="inputName" required>
            <input type="text" placeholder="https://www..." class="inputLink" id="inputLink">
            <button type="submit" class="buttonLink" id="buttonLink">Añadir enlace</button>
        </form>
        <ul class="listLink" id="linkList"></ul>
    </main> 
    <footer>
        <nav>
            <a href="../../src/components/digitalclock.html">
                <img src="../assets/img/clock.png" alt="clock">
            </a>
            <a href="../../src/components/securepassword.html">
                <img src="../assets/img/lockblack.png" alt="lock">
            </a>
            <a href="../../src/components/linksinterest.html">
                <img src="../assets/img/link.png" alt="link">
            </a>
            <a href="../../src/components/weatherstation.html">
                <img src="../assets/img/cloud.png" alt="cloud">
            </a>
        </nav>
    </footer>
    <script src="../../script.js"></script>
    <script src="../../src/js/linksinterest.js"></script>
    <scrip src="../../src/js/digitakclock.js"></scrip>
    <script src="../../src/js/securepassword.js"></script>
    <script src="../../src/js/weatherstation.js"></script>

</body>
</html>