<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/securepassword.css">
    <title>Creador de Contraseña Segura</title>
</head>
<body>
    <section class="contentPassword">
        <div class="passwordTittle">
            <h2>Creador de Contraseña Segura</h2>
            <img style="width: 20px; height: 20px;" src="../assets/img/lock.png" alt="lock">
        </div>
        <div class="passwordCharacters">
            <input type="range" value="12" min="12" max="50" class="inputRange" 
            onInput="this.nextElementSibling.value = this.value">
            <output>12</output>
        </div>
        <button type="button" id="createPassword" class="createButton">Crear Contraseña</button>
        <div class="passwordCreate" id="passwordCreate">Contraseña Creada:</div>
    </section>
    <script src="../js/securepassword.js"></script>
</body>
</html>