<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/securepassword.css">
    <title>Creador de Contraseña Segura</title>
</head>
<body>
    <header class="headerLogo">
        <a href="/index.html">
            <img src="../assets/img/rocketicon.png" alt="rocketicon">
            <h1>Go Home</h1>
        </a>
    </header>
    <main>
        <section class="contentPassword">
            <div class="passwordTittle">
                <h2>Creador de Contraseña Segura</h2>
                <img style="width: 20px; height: 20px;" src="../assets/img/lock.png" alt="lock">
            </div>
            <div class="passwordCharacters">
                <div class="contentInput">
                    <input type="range" value="12" min="12" max="50" class="inputRange" 
                    onInput="this.nextElementSibling.value = this.value">
                    <output>12</output>
                </div>
            <button type="button" id="createPassword" class="createButton">Crear Contraseña</button>
            <div class="passwordCreate" id="passwordCreate"> 
            </div>
            </div>
        </section>
    </main>    
        <footer>
            <nav>
                <a href="../../src/components/digitalclock.html">
                    <img src="../assets/img/clock.png" alt="clock">
                </a>
                <a href="../../src/components/linksinterest.html">
                    <img src="../assets/img/lockblack.png" alt="lock">
                </a>
                <a href="../../src/components/linksinterest.html">
                    <img src="../assets/img/link.png" alt="link">
                </a>
                <a href="../../src/components/weatherstation.html">
                    <img src="../assets/img/cloud.png" alt="cloud">
                </a>
            </nav>
        </footer>
    <script src="../../script.js"></script>
    <script src="../../src/js/securepassword.js"></script> 
</body>
</html>