<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/weatherstation.css">
    <title>Clima</title>
</head>
<body>
    <header class="headerLogo">
        <a href="/index.html">
            <img src="../assets/img/rocketicon.png" alt="rocketicon">
            <h1>Go Home</h1>
        </a>
    </header>
    <section class="weatherStation">
        <div class="contents" id="contents">
            <!-- <div>City:<span class="city">${city}</span></div>
            <div>Country:<span class="country">${country}</span></div>
            <div>Weather:<span class="weather">${weather}</span></div>
            <div class="picture" style="width: 30px; height: 30px;">
                <img style="width: 100%; height: 100%;" src="${picture}" alt="${city}-forecast"></div>
                <div class="temperature">${temperature}</div>
            </div>
            <div>
                <p>Precipitation:<span class="precipitation">${precipitation}</span></p>
                <p>Humidity:<span class="humidity">${humidity}</span></p>
                <p>Wind:<span class="wind">${wind}</span></p>
            </div>-->
        </div>
        <div class="contentForecast" id="contentForecast">
            <!-- <div>
                <div class="elementHour">${element.time}</div>
                <div style="width: 30px; height: 30px;" class="image">
                <img style="width: 100%; height: 100%;" src="${element.condition.icon}" alt="${city}-forecast">
                </div>
                <div class="degres">${element.temp_c}</div>>
            </div> -->
        </div>
    </section>
    <footer>
        <nav>
            <a href="../../src/components/digitalclock.html">
                <img src="../assets/img/clock.png" alt="clock">
            </a>
            <a href="../../src/components/securepassword.html">
                <img src="../assets/img/lockblack.png" alt="lock">
            </a>
            <a href="../../src/components/linksinterest.html">
                <img src="../assets/img/link.png" alt="link">
            </a>
            <a href="../../src/components/weatherstation.html">
                <img src="../assets/img/cloud.png" alt="cloud">
            </a>
        </nav>
    </footer>
    <script src="../../script.js"></script>
    <script src="../../src/js/weatherstation.js"></script> 
</body>
</html>